# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# Cache
.turbo
.eslintcache
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Misc
*.pem
.vercel
.env*.local
